<div class="container"> 
    <div class="row"> <!-- Panel and other content -->
        <div class="col-md-8 col-md-offset-2">
            <% unless @panel.title == 'Missing' %>
                <h2 class='text-center'><%= @panel.title %></h2>
            <% end %>
            <%= image_tag @panel.image.url, width: @panel.width, height: @panel.height, title: @panel.hovertext, class: "center_panel" %>
        </div>
    </div>
    
    <div class="row text-center" id="button_row">
        <%= render partial: "page_buttons", locals: { panel: @panel } %>
    </div>
    
    <div class="row"> <!-- Footer -->
        <div class="well col-md-8 col-md-offset-2 text-center">
            <%= @panel.comment %>
        </div>
    </div>
    
    <div margin: 20px></br></div>
</div>
