<div class="container">
    <h3 class="text-center">Page Gallery</h3>
    <div class="row text-center">

        <%= render partial: "panel", locals: {gallery: Panel.order(:page)} %>    
        
    </div>
    
    
</div>